<div ng-controller='pickemCtrl'>
    <table>
        <thead>
            <th>
            </th>
            <th>
                Matchup
            </th>
            <th>
                Time
            </th>
            <th>Confidence Points</th>
        </thead>
        <tbody ui-sortable='sortOptions' ng-model='matchups' ng-init="generateMatchups()">
            <tr ng-repeat='matchup in matchups'>
                <td class="rowHandle">
                    =
                </td>
                <td ng-bind-html="matchup | sanitize">
                <td>
                    {{game.time}}
                </td>
                <td class="cp">
                    {{$index + 1}}
                </td>
            </tr>
        </tbody ui-sortable ng-model="rows">
    </table>
</div>
